<%= "#{@name}さんのカルテ"%>
<% @plans.each_pair do |plan, num| %>
  <%= "#{plan}を#{num}回"%>
<% end %>
<a href="https://twitter.com/intent/tweet?button_hashtag=RecklessDiet&text=<% @plans.each_pair do |plan, num| %><%= "#{plan}を#{num}回\n" %><% end %>" class="twitter-hashtag-button" data-size="large">Tweet #RecklessDiet</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

